<div class="container-fluid" id="barra" style="background-color: {{colores.contenidos1}}">
    <h3>Unidad 3</h3>
</div>
<div class="container-fluid" id="contenido">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item" style="background-color: {{colores.contenidos1}}">
        {{unidades.unidad3_8vo_Mat}}
      </a>
      <a href="https://www.youtube.com/watch?v=XfVWlO3sRw0&list=PLeySRPnY35dEhLLuHkysDw31hjMgjnISQ" target="_blank" class="list-group-item list-group-item-action" download="pitagoras.pdf">Pitágoras</a>
      <a href="https://www.youtube.com/watch?v=IrTeyyzerjI&list=PLeySRPnY35dEaZT3iJUNdDkgLEZE5x-Jd" target="_blank" class="list-group-item list-group-item-action" download="posicion_y_movimiento.pdf">Posición y movimiento</a>
      <a href="https://www.youtube.com/watch?v=W5yMHQXpoQs&list=PLeySRPnY35dH7FRomUY4UhhFJ-AMNin_5" target="_blank" class="list-group-item list-group-item-action" download="prismas_y_cilindros.pdf">Prismas y cilindros</a>
    </div>
  </div>