<div class="container-fluid" id="barra" style="background-color: {{colores.contenidos1}}">
    <h3>Unidad 1</h3>
</div>
<!--<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://i.imgur.com/zLL1KLF.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Contenidos</h5>
      <p class="card-text">Aquí encontrarás toda la materia que necesites.</p>
    </div>
    <div class="card-body">
        <a href="/contenidos8vo" class="btn btn-primary">CONTENIDOS</a>
    </div>
  </div>-->
