<div class="container-fluid" id="barra" style="background-color: {{colores.menu}}">
    <h3>Menú Principal</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="contenidos" class=" col card text-center" style="background-color: {{colores.contenidos1}}">
            <div class="card-body">
                <div class="media"><img class="align-self-center mr-3 col-12 col-md-4" src="https://i.imgur.com/zLL1KLF.jpeg"></div>
              <a href="/contenidos8vo" class="btn btn-primary">CONTENIDOS</a>
            </div>
        </div>
        <div id="ejercitar" class=" col card text-center col-12 col-md-4" style="background-color: {{colores.ejercitar1}}">
            <div class="card-body">
                <div class="media"><img class="align-self-center mr-3" src="https://i.imgur.com/yRMehyF.jpeg"></div>
              <a href="/ejercitar8vo" class="btn btn-primary">EJERCITAR</a>
            </div>
        </div>
        <div id="puduebas" class=" col card text-center" style="background-color: {{colores.puduebas1}}">
            <div class="card-body">
                <div class="media"><img class="align-self-center mr-3 col-12 col-md-4" src="https://i.imgur.com/OsWqFQx.jpeg"></div>
              <a href="/puduebas8vo" class="btn btn-primary">PUDÚEBAS</a>
            </div>
        </div>
          
    </div>
</div>

