<!--<header>

    <a class="logo" href="#" target="_blank" rel="noopener noreferrer"><img src="https://i.imgur.com/5FiU9GN.jpeg" alt="Logo Pudúfesor">
        <h2>Pudúfesor</h2>
    </a>
    <nav>
       <a href="#" target="_blank" rel="noopener noreferrer" class="nav-link">INGRESAR</a>
       <a href="#" target="_blank" rel="noopener noreferrer" class="nav-link">REGISTRAR</a>  
    </nav>
</header>-->

<div class="container-fluid">
    <div class="row">
        <a id= "logo" class="col col-sm-1" href="#" target="_blank" rel="noopener noreferrer"><img src="https://i.imgur.com/5FiU9GN.jpeg" alt="Logo Pudúfesor"></a>
        <a id="nombrePagina" class="col" href="#" target="_blank" rel="noopener noreferrer">Pudúfesor</a>
        <a class="btn btn-primary col col-sm-1" href="#" role="button">INGRESAR</a>
        <a class="btn btn-primary col col-sm-1" href="#" role="button">REGISTRAR</a>
    </div>
</div>
