

header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(74,74,163,100);
    height: 120px;
    align-items: center;
    padding: 0px;

    .logo{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        height: 120px;

        h2{
            align-self: center;
            margin-left: 20px;
        }
    }

    nav{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: flex;
        align-items: center;
        margin-right: 30px;
        .nav-link{
            margin: 10px;
            color: white;
            background-color: rgba(245, 0, 87, 100);
        }
    }

    a{
        text-decoration: none;
        color:black
    }
}