<div class="container-fluid" id="barra" style="background-color: {{colores.ejercitar1}}">
    <h3>Ejercitar</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="u1" class=" col card text-center col-12 col-md-3" style="background-color: {{colores.ejercitar2}}">
            <div class="card-body">
                <div class="media"><img class="align-self-center mr-3" src="https://images.unsplash.com/photo-1546833998-877b37c2e5c6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDUzMDJ8MHwxfHNlYXJjaHwyMnx8bWF0aHxlbnwxfHx8fDE2NjE5OTg0Mzk&ixlib=rb-1.2.1&q=80&w=200"></div>
                <p>{{unidades.unidad1_8vo_Mat}}</p>
                <a href="/ejercitar8voU1" class="btn btn-primary">SELECCIONAR</a>
            </div>
        </div>
        <div id="u2" class=" col card text-center col-12 col-md-3" style="background-color: {{colores.ejercitar2}}">
            <div class="card-body">
                <div class="media"><img class="align-self-center mr-3" src="https://images.unsplash.com/photo-1509228627152-72ae9ae6848d?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDUzMDJ8MHwxfHNlYXJjaHw1fHxlcXVhdGlvbnxlbnwxfHx8fDE2NjE5OTg1MTc&ixlib=rb-1.2.1&q=80&w=200"></div>
                <p>{{unidades.unidad2_8vo_Mat}}</p>
                <a href="/ejercitar8voU2" class="btn btn-primary">SELECCIONAR</a>
            </div>
        </div>
        <div id="u3" class=" col card text-center col-12 col-md-3" style="background-color: {{colores.ejercitar2}}">
            <div class="card-body">
                <div class="media"><img class="align-self-center mr-3 " src="https://images.unsplash.com/photo-1525683879097-8babce1c602a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDUzMDJ8MHwxfHNlYXJjaHw0NHx8Z2VvbWV0cnl8ZW58MXx8fHwxNjYxOTk4NTc5&ixlib=rb-1.2.1&q=80&w=200"></div>
                <p>{{unidades.unidad3_8vo_Mat}}</p>
                <a href="/ejercitar8voU3" class="btn btn-primary">SELECCIONAR</a>
            </div>
        </div>
        <div id="u4" class=" col card text-center col-12 col-md-3" style="background-color: {{colores.ejercitar2}}">
            <div class="card-body">
                <div class="media"><img class="align-self-center mr-3" src="https://images.unsplash.com/photo-1609017909889-d7b582c072f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDUzMDJ8MHwxfHNlYXJjaHwxfHxwcm9iYWJpbGl0eXxlbnwxfHx8fDE2NjE5OTg2Mjc&ixlib=rb-1.2.1&q=80&w=200"></div>
                <p>{{unidades.unidad4_8vo_Mat}}</p>
                <a href="/ejercitar8voU4" class="btn btn-primary">SELECCIONAR</a>
            </div>
        </div>
          
    </div>
</div>