<div class="container-fluid" id="barra" style="background-color: {{colores.contenidos1}}">
    <h3>Unidad 1</h3>
</div>
<div class="container-fluid" id="contenido">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item" style="background-color: {{colores.contenidos1}}">
      {{unidades.unidad1_8vo_Mat}}
    </a>
    <a href="https://www.youtube.com/watch?v=G0o9qedyQU0&list=PLeySRPnY35dG1HI0lMYzMbZULNZ89FL5G" target="_blank" class="list-group-item list-group-item-action" download="numeros_enteros.pdf">Números Enteros</a>
    <a href="https://www.youtube.com/watch?v=vwzZEB0SzCI&list=PLeySRPnY35dEk0kZGO3bgpg_tYmIR0ms0" target="_blank" class="list-group-item list-group-item-action" download="potencias.pdf">Potencias</a>
    <a href="https://www.youtube.com/watch?v=yL36vMQBlNw&list=PLeySRPnY35dHSFM5LWSwItwTUID8-yq1U" target="_blank" class="list-group-item list-group-item-action" download="porcentaje.pdf">Porcentaje</a>
    <a href="https://www.youtube.com/watch?v=j00Por1Ct6c&list=PLeySRPnY35dEhgikNGJjXZUOpWGt6LGzn" target="_blank" class="list-group-item list-group-item-action" download="raices.pdf">Raíces</a>
  </div>
</div>